doctype html
html(lang='es') 

	include _includes/jade/_head.jade
	
	body
		
		include _includes/jade/_header.jade
		
		
		
		include _includes/jade/_footer.jade
		
		include _includes/jade/_scripts.jade
