doctype html
html(lang='es') 

	include /_includes/jade/head.jade
	
	body
		
		include /_includes/jade/header.jade
		
		
		
		
		include /_includes/jade/footer.jade
		
		include /_includes/jade/scripts.jade
