//script(type="text/javascript" src="js/modernizr.js")
script(type='text/javascript', src='js/jquery-2.2.0.min.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(type='text/javascript', src='js/functions.js')
