doctype html
html(lang='es') 

	include _includes/jade/_head.jade

	body

		include _includes/jade/_header.jade


		section(style="padding:5%")
			
			h1 Headings
			h1 h1. Heading
			h2 h2. Heading
			h3 h3. Heading
			h4 h4. Heading
			h5 h5. Heading
			h6 h6. Heading
			
			hr
				
			h1 Paragraph
			p Lorem ipsum dolor sit amet,| adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
				br
				| Lorem ipsum dolor sit amet.  Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
				br
				strong strong text - commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.
				br
				u u element - suscipit duim donec sed tellus eget	
				br
				s strikethrough text - suscipit duim donec sed tellus eget
				br
				em emphasis text - suscipit duim donec sed tellus eget / 
				i emphasis text - suscipit duim donec sed tellus eget
				br
				|texto control
				sup superindex text - suscipit duim donec sed tellus eget
				br
				|texto control
				sub bubindex text - suscipit duim donec sed tellus eget
				br
				small small text - suscipit duim donec sed tellus eget
				br
				a(href='#', title='test link') test link 
				br
				pre Texto "codigo" - Donec faucibus. 
					|Donec sed tellus eget sapien
					|Suspendisse quam sem
			
			hr
			
			h1 List Types
			
			h3 Definition List
			dl
				dt Definition List Title
				dd This is a definition list division.
				dd This is a definition list division.
			
			h3 Ordered List
			ol
				li List Item 1
				li List Item 2
				li List Item 3
			
			h3 Unordered List
			ul
				li List Item 1
				li List Item 2
				li List Item 3
			
			
			hr
				
			h1 Fieldsets and Form Elements
			fieldset
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.
				form(lpformnum='1')
					h2 Form Element
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.
					
						label(for='text_field') Text Field:
						input(type='text')
					
						label(for='text_area') Text Area:
						textarea
					
						label(for='select_element') Select Element:
						select(name='select_element')
							optgroup(label='Option Group 1')
								option(value='1') Option 1
								option(value='2') Option 2
								option(value='3') Option 3
							optgroup(label='Option Group 2')
								option(value='1') Option 1
								option(value='2') Option 2
								option(value='3') Option 3
					
						label(for='radio_buttons') Radio Buttons:
						label
							input.radio(type='radio', name='radio_button', value='radio_1')
							|  Radio 1
						label
							input.radio(type='radio', name='radio_button', value='radio_2')
							|  Radio 2
						label
							input.radio(type='radio', name='radio_button', value='radio_3')
							|  Radio 3
					
						label(for='checkboxes') Checkboxes:
						label
							input.checkbox(type='checkbox', name='checkboxes', value='check_1')
							|  Checkbox 1
						label
							input.checkbox(type='checkbox', name='checkboxes', value='check_2')
							|  Checkbox 2
						label
							input.checkbox(type='checkbox', name='checkboxes', value='check_3')
							|  Checkbox 3
					
						label(for='password') Password:
						input.password(type='password', name='password', autocomplete='off')
					
						label(for='file') File Input:
						input.file(type='file', name='file')
					
						input(type='submit', value='Submit')
			hr
			h1 Tables
			table(cellspacing='0', cellpadding='0')
				tbody
					tr
						th Table Header 1
						th Table Header 2
						th Table Header 3
					tr
						td Division 1
						td Division 2
						td Division 3
					tr.even
						td Division 1
						td Division 2
						td Division 3
					tr
						td Division 1
						td Division 2
						td Division 3
						
						
			hr
			h1 Estates
				form(lpformnum='2')
					.info-state-bg
						label(for="text_field-success") State-Info
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						
					.success-state-bg
						label(for="text_field-success") State-Success:
						label(for="checkboxes")
							input(type="checkbox")
							|checkbox
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						input(type="text")
						textarea

					.warning-state-bg
						label(for="text_field-warning") State-Warning:
						label(for="checkboxes")
							input(type="checkbox")
							|checkbox
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						input(type="text")
						textarea
							
					.danger-state-bg
						label(for="text_field-danger") State-Danger:
						label(for="checkboxes")
							input(type="checkbox")
							|checkbox
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
						input(type="text")
						textarea
					
		include _includes/jade/_footer.jade

		include _includes/jade/_scripts.jade
