doctype html
html(lang='es')

	include _includes/pug/_head.pug

	body

		.container
			p Lorem ipsum dolor sit amet consectetur adipisicing elit. Non reiciendis eveniet illo ducimus, obcaecati illum modi tempora voluptates odit ipsum omnis! Eum cum dolorum deserunt aliquam ex odio distinctio nihil.

		#app

		include _includes/pug/_scripts.pug
